
<p>
  <%= link_to 'View Locations', locations_path %>
</p>
<p>
  <%= link_to 'Events', events_path %>
</p>

<hr>
<h1>Locations</h1>
<% @locations.each do |current_location| %>
  <%= render '/locations/single_location', location: current_location %>
<% end %>
<hr>
<h1>Events</h1>
<% @events.each do |event| %>
  <%= render '/events/event', event: event %>
<% end %>
