<div class="event">
  <p><h3><%= link_to(event.name, "/events/#{event.id}") %></h3></p>
  <p><h5>Date: <%= event.date %></h5></p>
  <p><h5>Capacity: <%= event.capacity %></h5></p>
  <p><h5>City: <%= event.city %></h5></p>
</div>
